<!DOCTYPE html>
<!--HTML for the login page-->
<html>
    <head>
        <style>html{visibility: hidden;}</style>
        <link rel='stylesheet' href='../static/css/home.css'>
        <link rel='stylesheet' href='../static/css/global.css'>
        <link href='https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet"> 
        <link rel='stylesheet' href='../static/css/w3.css'>
        <title>Athletics Sign Up</title>
        <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
        <script>
            function lowd()
            {
                document.body.style.visibility='visible';
            }
        </script>
        <noscript><style>body { visibility: visible; }</style></noscript>
    </head>

    <body onload="lowd()">
        <img src='../static/images/treee.png' id='treee' draggable="false">
        <div id='signinwrapper' class='w3-center w3-container w3-display-middle'>
            <div id='signinbox' class='w3-cell-middle'>
                <img src='../static/images/BHSlogo.png' style='width:70%;'>
                <p id = 'heading'>ATHLETICS SIGN UP</p>
                <form action='' method='post' novalidate id='form'>
                    {{ form.hidden_tag() }}
                    <p class='w3-cell w3-half no-margin' id='username_box'>
                        {{ form.username.label }}<br>
                        {{ form.username(size=25) }}
                        {% for error in form.username.errors %}
                            <span class='errorm w3-center'>{{ error }}</span>
                        {% endfor %}
                        {% if not form.username.errors %}
                            <span class='errorm w3-center'>&nbsp;</span>
                        {% endif %}
                    </p>
                    <p class='w3-cell w3-half no-margin' id='password_box'>
                        {{ form.password.label }}<br>
                        {{ form.password(size=25) }}
                        {% for error in form.password.errors %}
                            <span class='errorm w3-center'>{{ error }}</span>
                        {% endfor %}
                        {% if not form.password.errors %}
                            <span class='errorm w3-center'>&nbsp;</span>
                        {% endif %}
                    </p>
                        
                    <div id='submitbutton'>{{ form.submit() }}</div>
                
                
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul id='error'>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p id='error'>&nbsp;</p>
                    {% endif %}
                {% endwith %}
                </form>
            </div>
        </div>
    </body>
</html>